[run]
omit =
    src/ansys/fluent/core/fluent_version_*
    src/ansys/fluent/core/meshing/tui_*
    src/ansys/fluent/core/solver/tui_*
    src/ansys/fluent/core/solver/settings_*/*
    src/ansys/fluent/core/datamodel_*/*
