repos:

- repo: https://github.com/psf/black
  rev: 22.3.0
  hooks:
  - id: black
    args: [
      --line-length, "79",
      --force-exclude, ansys/api/fluent/v0/|ansys/fluent/core/meshing/tui.py|ansys/fluent/core/solver/tui.py|ansys/fluent/core/solver/settings.py,
      ansys, codegen, doc, examples, tests
    ]

- repo: https://github.com/pycqa/isort
  rev: 5.10.1
  hooks:
  - id: isort
    args: [
      --profile, black,
      --skip, ansys/fluent/core/meshing/tui.py,
      --skip, ansys/fluent/core/solver/tui.py,
      --skip, ansys/fluent/core/solver/settings.py,
      --skip-glob, ansys/api/fluent/v0/*,
      --force-sort-within-sections,
      --line-length, "79",
      --section-default, THIRDPARTY, 
      --filter-files,
      ansys, codegen, doc, examples, tests
    ]

- repo: https://github.com/PyCQA/flake8
  rev: 4.0.1
  hooks:
  - id: flake8
    args: [
      --exclude, ansys/api/fluent/v0/* ansys/fluent/core/meshing/tui.py ansys/fluent/core/solver/tui.py ansys/fluent/core/solver/settings.py,
      --select, W191 W291 W293 W391 E115 E117 E122 E124 E125 E225 E231 E301 E303 F401 F403 N801 N802 N803 N804 N805 N806,
      --count,
      --statistics,
      --max-complexity, "10",
      --max-line-length, "79",
      ansys, codegen, doc, examples, tests
    ]

- repo: https://github.com/codespell-project/codespell
  rev: v2.1.0
  hooks:
  - id: codespell
    args: [
      --skip, "ansys/api/fluent/v0/*,ansys/fluent/core/meshing/tui.py,ansys/fluent/core/solver/tui.py,ansys/fluent/core/solver/settings.py",
    ]

- repo: https://github.com/myint/docformatter
  rev: v1.3.1
  hooks:
  - id: docformatter
    exclude: ^(tests\/|ansys\/api\/fluent\/v0\/|ansys\/fluent\/core\/meshing\/tui.py|ansys\/fluent\/core\/solver\/tui.py|ansys\/fluent\/core\/solver\/settings.py)
    args: [-r, --in-place]

#- repo: https://github.com/pycqa/pydocstyle
#  rev: 6.1.1
#  hooks:
#  - id: pydocstyle
#    additional_dependencies: [toml]
#    exclude: ^(tests\/|ansys\/api\/fluent\/v0\/|ansys\/fluent\/core\/meshing\/tui.py|ansys\/fluent\/core\/solver\/tui.py|ansys\/fluent\/core\/solver\/settings.py)
#    args: [
#      # Error codes: http://www.pydocstyle.org/en/stable/error_codes.html
#      --ignore, "D107,D105,D4",
#      --count,
#    ]

- repo: local
  hooks:
    - id: last-commit-info
      name: last-commit-info
      entry: .ci/update_last_commit_info.sh
      language: script
      stages: [manual]