include src/ansys/fluent/core/launcher/fluent_launcher_options.json
include src/ansys/fluent/core/docs/README.rst
include src/ansys/fluent/core/logging_config.yaml
include src/ansys/fluent/core/quantity/cfg.yaml
include src/ansys/fluent/core/launcher/watchdog_exec
recursive-include src/ansys/fluent/core *.pyi
recursive-include src/ansys/fluent/core *.pickle