Sphinx==7.2.6
jupyter_sphinx==0.4.0
numpydoc==1.6.0
matplotlib==3.8.2
ansys-sphinx-theme==0.12.5
pypandoc==1.12
pytest-sphinx==0.5.0
sphinx-autobuild==2021.3.14
sphinx-autodoc-typehints==1.25.2
sphinx-copybutton==0.5.2
sphinx-gallery==0.15.0
sphinx-notfound-page==1.0.0
sphinxcontrib-websupport==1.2.6
sphinxemoji==0.2.0
autodocsumm==0.2.11
