name: Force update stable Fluent image version

on:
  #pull_request:
  workflow_dispatch:

concurrency:
  group: ${{ github.ref }}
  cancel-in-progress: true

permissions:
  contents: read
  packages: read
  pull-requests: read
  issues: read

env:
  ANSYSLMD_LICENSE_FILE: ${{ format('1055@{0}', secrets.LICENSE_SERVER) }}
  MAIN_PYTHON_VERSION: "3.10"
  FLUENT_IMAGE_TAG: v27.1.latest
  FLUENT_VERSION: 271

jobs:
  test:
    name: Update latest Fluent image
    runs-on: [self-hosted, pyfluent]
    timeout-minutes: 30

    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false

      - name: Login to GitHub Container Registry
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3.6.0
        with:
          registry: ghcr.io
          username: ansys-bot
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Pull Fluent docker image
        run: make docker-pull
        env:
          FLUENT_IMAGE_TAG: ${{ env.FLUENT_IMAGE_TAG }}

      - name: Update Fluent image
        env:
          GITHUB_TOKEN: ${{ secrets.ADMIN_ACCESS_TOKEN }}
          IMAGE_TAG: ${{ env.FLUENT_IMAGE_TAG }}
        if: github.ref == 'refs/heads/main'
        run: |
          DIGEST=$(docker inspect --format='{{index .RepoDigests 0}}' ghcr.io/ansys/fluent:${IMAGE_TAG} | sed 's/.*@//')
          gh variable set FLUENT_STABLE_IMAGE_DEV --body $DIGEST
