name: Tag Iteration Ends

on:
  schedule: # 0400 UTC next day (end of US day)
    # Dates from 2024 release calendar
    - cron: "0 4 10 2 *"
    - cron: "0 4 2 3 *"
    - cron: "0 4 23 3 *"
    - cron: "0 4 13 4 *"
    - cron: "0 4 11 5 *"
    - cron: "0 4 2 6 *"
    - cron: "0 4 22 6 *"
    - cron: "0 4 13 7 *"
    - cron: "0 4 3 8 *"
    - cron: "0 4 24 8 *"
    - cron: "0 4 14 9 *"
    - cron: "0 4 5 10 *"
    - cron: "0 4 2 11 *"
    - cron: "0 4 30 11 *"
    - cron: "0 4 28 12 *"
  workflow_dispatch:

permissions:
  contents: read
  packages: read
  pull-requests: read
  issues: read

jobs:
  tag:
    name: tag-iteration-ends
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false
      - name: Get last date of iteration
        id: date
        run: echo "date=$(date -u --date yesterday +'%m%d')" >> $GITHUB_OUTPUT
      - name: Create tag
        env:
          VAR: ${{ format('date-{0}', steps.date.outputs.date) }}
        run: |
          git tag ${VAR}
          git push origin ${VAR}
