name: Nightly Test Run (No Codegen)

on:
  schedule:  # UTC at 0400 on Monday and Thursday
    - cron:  '0 4 * * MON,THU'
  workflow_dispatch:

env:
  ANSYSLMD_LICENSE_FILE: ${{ format('1055@{0}', secrets.LICENSE_SERVER) }}
  PYFLUENT_TIMEOUT_FORCE_EXIT: 30
  PYFLUENT_LAUNCH_CONTAINER: 1
  PYFLUENT_LOGGING: 'DEBUG'
  PYFLUENT_WATCHDOG_DEBUG: 'OFF'
  PYFLUENT_HIDE_LOG_SECRETS: 1

jobs:
  test:
    name: Unit Testing
    runs-on: [self-hosted, pyfluent]

    steps:
      - uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: 3.9

      - name: Cache pip
        uses: actions/cache@v3
        with:
          path: ~/.cache/pip
          key: Python-${{ runner.os }}-${{ matrix.python-version }}-${{ hashFiles('setup.py') }}-${{ hashFiles('requirements/requirements_*.txt') }}
          restore-keys: |
            Python-${{ runner.os }}-${{ matrix.python-version }}

      - name: Add version information
        run: make version-info

      - name: Install pyfluent
        run: make install

      - name: Retrieve PyFluent version
        run: |
          echo "PYFLUENT_VERSION=$(python -c "from ansys.fluent.core import __version__; print(); print(__version__)" | tail -1)" >> $GITHUB_OUTPUT
          echo "PYFLUENT version is: $(python -c "from ansys.fluent.core import __version__; print(); print(__version__)" | tail -1)"
        id: version

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ansys-bot
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Pull 22.2 Fluent docker image
        run: make docker-pull
        env:
          FLUENT_IMAGE_TAG: v22.2.0

      - name: Pull 23.1 Fluent docker image
        run: make docker-pull
        env:
          FLUENT_IMAGE_TAG: v23.1.0

      - name: Pull 23.2 Fluent docker image
        run: make docker-pull
        env:
          FLUENT_IMAGE_TAG: v23.2.0

      - name: Pull 24.1 Fluent docker image
        run: make docker-pull
        env:
          FLUENT_IMAGE_TAG: v24.1.0

      - name: Pull 24.2 Fluent docker image
        run: make docker-pull
        env:
          FLUENT_IMAGE_TAG: v24.2.0

      - name: 24.2 Unit Testing
        run: make unittest-all-242-no-codegen
        env:
          FLUENT_IMAGE_TAG: v24.2.0

      - name: 24.1 Unit Testing
        run: make unittest-all-241-no-codegen
        env:
          FLUENT_IMAGE_TAG: v24.1.0

      - name: 23.2 Unit Testing
        run: make unittest-all-232-no-codegen
        env:
          FLUENT_IMAGE_TAG: v23.2.0

      - name: 23.1 Unit Testing
        run: make unittest-all-231-no-codegen
        env:
          FLUENT_IMAGE_TAG: v23.1.0

      - name: 22.2 Unit Testing
        run: make unittest-all-222-no-codegen
        env:
          FLUENT_IMAGE_TAG: v22.2.0
