name: Test Run Solvermode Weekly

on:
  schedule: # UTC at 0800 on Sunday
    - cron: "0 8 * * SUN"
  workflow_dispatch:

permissions:
  contents: read
  packages: read
  pull-requests: read
  issues: read

env:
  ANSYSLMD_LICENSE_FILE: ${{ format('1055@{0}', secrets.LICENSE_SERVER) }}
  PYFLUENT_TIMEOUT_FORCE_EXIT: 30
  PYTEST_XDIST_AUTO_NUM_WORKERS: 1
  PYFLUENT_LAUNCH_CONTAINER: 1
  PYFLUENT_LOGGING: "DEBUG"
  PYFLUENT_WATCHDOG_DEBUG: "OFF"
  PYFLUENT_HIDE_LOG_SECRETS: 1
  FLUENT_IMAGE_TAG: v26.1.latest
  PYTHON_VERSION: "3.10"

jobs:
  test:
    name: Unit Testing
    runs-on: [self-hosted, pyfluent]

    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false

      - name: Setup Python
        uses: actions/setup-python@a309ff8b426b58ec0e2a45f0f869d46889d02405 # v6.2.0
        with:
          python-version: ${{ env.PYTHON_VERSION }}

      - name: Clean Docker Data
        run: make docker-clean-all-except-supported-images
        env:
          FLUENT_STABLE_IMAGE_DEV: ${{ vars.FLUENT_STABLE_IMAGE_DEV }}

      - name: Cache pip
        uses: actions/cache@cdf6c1fa76f9f475f3d7449005a359c84ca0f306 # v5.0.3
        with:
          path: ~/.cache/pip
          key: Python-${{ runner.os }}-${{ env.PYTHON_VERSION }}-${{ hashFiles('pyproject.toml') }}
          restore-keys: |
            Python-${{ runner.os }}-${{ env.PYTHON_VERSION }}

      - name: Add version information
        run: make version-info

      - name: Install pyfluent
        run: make install

      - name: Retrieve PyFluent version
        run: |
          echo "PYFLUENT_VERSION=$(python -c "from ansys.fluent.core import __version__; print(); print(__version__)" | tail -1)" >> $GITHUB_OUTPUT
          echo "PYFLUENT version is: $(python -c "from ansys.fluent.core import __version__; print(); print(__version__)" | tail -1)"
        id: version

      - name: Login to GitHub Container Registry
        uses: docker/login-action@c94ce9fb468520275223c153574b00df6fe4bcc9 # v3.7.0
        with:
          registry: ghcr.io
          username: ansys-bot
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Pull 26.1 Fluent docker image
        run: make docker-pull
        env:
          FLUENT_IMAGE_TAG: ${{ vars.FLUENT_STABLE_IMAGE_DEV }}

      - name: Run 26.1 API codegen
        run: make api-codegen

      - name: Print 26.1 Fluent version info
        run: |
          cat src/ansys/fluent/core/generated/fluent_version_261.py
          python -c "from ansys.fluent.core.generated.solver.settings_261 import SHASH; print(f'SETTINGS_HASH = {SHASH}')"

      - name: Install again after codegen
        run: |
          rm -rf dist
          make install > /dev/null

      - name: 26.1 Unit Testing
        run: |
          make install-test
          make unittest-solvermode-261

      - name: Clean Docker Data
        run: make docker-clean-all-except-supported-images
        env:
          FLUENT_STABLE_IMAGE_DEV: ${{ vars.FLUENT_STABLE_IMAGE_DEV }}
