name: Test Run Old Versions Weekly

on:
  schedule: # UTC at 0900 on Saturday
    - cron: "0 9 * * SAT"
  workflow_dispatch:

permissions:
  contents: read
  packages: read
  pull-requests: read
  issues: read

env:
  ANSYSLMD_LICENSE_FILE: ${{ format('1055@{0}', secrets.LICENSE_SERVER) }}
  PYFLUENT_TIMEOUT_FORCE_EXIT: 30
  PYTEST_XDIST_AUTO_NUM_WORKERS: 1
  PYFLUENT_LAUNCH_CONTAINER: 1
  PYFLUENT_LOGGING: "DEBUG"
  PYFLUENT_WATCHDOG_DEBUG: "OFF"
  PYFLUENT_HIDE_LOG_SECRETS: 1
  PYTHON_VERSION: "3.10"

jobs:
  build:
    name: Build package
    runs-on: [self-hosted, pyfluent]

    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false

      - name: Setup Python
        uses: actions/setup-python@a309ff8b426b58ec0e2a45f0f869d46889d02405 # v6.2.0
        with:
          python-version: ${{ env.PYTHON_VERSION }}

      - name: Clean Docker Data
        run: make docker-clean-all-except-supported-images
        env:
          FLUENT_STABLE_IMAGE_DEV: ${{ vars.FLUENT_STABLE_IMAGE_DEV }}

      - name: Cache pip
        uses: actions/cache@8b402f58fbc84540c8b491a91e594a4576fec3d7 # v5.0.2
        with:
          path: ~/.cache/pip
          key: Python-${{ runner.os }}-${{ env.PYTHON_VERSION }}-${{ hashFiles('pyproject.toml') }}
          restore-keys: |
            Python-${{ runner.os }}-${{ env.PYTHON_VERSION }}

      - name: Add version information
        run: make version-info

      - name: Install pyfluent
        run: make install

      - name: Retrieve PyFluent version
        run: |
          echo "PYFLUENT_VERSION=$(python -c "from ansys.fluent.core import __version__; print(); print(__version__)" | tail -1)" >> $GITHUB_OUTPUT
          echo "PYFLUENT version is: $(python -c "from ansys.fluent.core import __version__; print(); print(__version__)" | tail -1)"
        id: version

      - name: Login to GitHub Container Registry
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3.6.0
        with:
          registry: ghcr.io
          username: ansys-bot
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Pull 24.2 Fluent docker image
        run: make docker-pull
        env:
          FLUENT_IMAGE_TAG: v24.2.0

      - name: Run 24.2 API codegen
        run: make api-codegen
        env:
          FLUENT_IMAGE_TAG: v24.2.0

      - name: Print 24.2 Fluent version info
        run: |
          cat src/ansys/fluent/core/generated/fluent_version_242.py
          python -c "from ansys.fluent.core.generated.solver.settings_242 import SHASH; print(f'SETTINGS_HASH = {SHASH}')"

      - name: Pull 25.1 Fluent docker image
        run: make docker-pull
        env:
          FLUENT_IMAGE_TAG: v25.1.0

        # The version-independent built-in settings classes are generated only with Fluent 25.1
        # which are required for the unit tests
      - name: Run 25.1 API codegen
        run: make api-codegen
        env:
          FLUENT_IMAGE_TAG: v25.1.0

      - name: Install again after codegen
        run: |
          rm -rf dist
          make install > /dev/null

      - name: Check package
        run: |
          pip install twine
          twine check dist/*

      - name: Upload package
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: PyFluent-packages
          path: |
            dist/*.whl
            dist/*.tar.gz
          retention-days: 7

      - name: Clean Docker Data
        run: make docker-clean-all-except-supported-images
        env:
          FLUENT_STABLE_IMAGE_DEV: ${{ vars.FLUENT_STABLE_IMAGE_DEV }}

  test:
    name: Unit Testing
    needs: build
    runs-on: [self-hosted, pyfluent]
    strategy:
      fail-fast: false
      matrix:
        include:
          - image-tag: v24.2.0
            version: 242
          - image-tag: v25.1.0
            version: 251

    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false

      - name: Setup Python
        uses: actions/setup-python@a309ff8b426b58ec0e2a45f0f869d46889d02405 # v6.2.0
        with:
          python-version: ${{ env.MAIN_PYTHON_VERSION }}

      - name: Clean Docker Data
        run: make docker-clean-all-except-supported-images
        env:
          FLUENT_STABLE_IMAGE_DEV: ${{ vars.FLUENT_STABLE_IMAGE_DEV }}

      - name: Download package
        uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7.0.0
        with:
          name: PyFluent-packages
          path: dist

      - name: Install pyfluent
        run: pip install -q --force-reinstall dist/*.whl > /dev/null

      - name: Retrieve PyFluent version
        run: |
          echo "PYFLUENT_VERSION=$(python -c "from ansys.fluent.core import __version__; print(); print(__version__)" | tail -1)" >> $GITHUB_OUTPUT
          echo "PYFLUENT version is: $(python -c "from ansys.fluent.core import __version__; print(); print(__version__)" | tail -1)"
        id: version

      - name: Login to GitHub Container Registry
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3.6.0
        with:
          registry: ghcr.io
          username: ansys-bot
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Pull Fluent docker image
        run: make docker-pull
        env:
          FLUENT_IMAGE_TAG: ${{ matrix.image-tag }}

      - name: Unit Testing
        run: |
          make install-test
          make unittest-all-${VERSION}
        env:
          FLUENT_IMAGE_TAG: ${{ matrix.image-tag }}
          VERSION: ${{ matrix.version }}

      - name: Clean Docker Data
        run: make docker-clean-all-except-supported-images
        env:
          FLUENT_STABLE_IMAGE_DEV: ${{ vars.FLUENT_STABLE_IMAGE_DEV }}
