name: Test Podman Compose

on:
  schedule: # UTC at 0600
    - cron: "0 6 * * *"
  workflow_dispatch:

concurrency:
  group: ${{ github.ref }}
  cancel-in-progress: true

permissions:
  contents: read
  packages: read
  pull-requests: read
  issues: read

env:
  ANSYSLMD_LICENSE_FILE: ${{ format('1055@{0}', secrets.LICENSE_SERVER) }}
  PYFLUENT_TIMEOUT_FORCE_EXIT: 30
  PYFLUENT_LAUNCH_CONTAINER: 1
  PYFLUENT_LOGGING: "DEBUG"
  PYFLUENT_WATCHDOG_DEBUG: "OFF"
  PYFLUENT_HIDE_LOG_SECRETS: 1
  PYTHON_VERSION: "3.12"

jobs:
  install-podman:
    name: "Install Podman"
    runs-on: [public-ubuntu-latest-8-cores]
    steps:
      - uses: gacts/install-podman@96e73075ee4b6669429c80458d063924472fb04d # v1.1.1
      - run: podman compose version

  build_test:
    name: Build and Test
    needs: install-podman
    runs-on: [public-ubuntu-latest-8-cores]
    strategy:
      fail-fast: false
      matrix:
        include:
          - image-tag: v25.2.3
            version: 252

    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false

      - name: Setup Python
        uses: actions/setup-python@a309ff8b426b58ec0e2a45f0f869d46889d02405 # v6.2.0
        with:
          python-version: ${{ env.PYTHON_VERSION }}

      - name: Cache pip
        uses: actions/cache@cdf6c1fa76f9f475f3d7449005a359c84ca0f306 # v5.0.3
        with:
          path: ~/.cache/pip
          key: Python-${{ runner.os }}-${{ env.PYTHON_VERSION }}-${{ hashFiles('pyproject.toml') }}
          restore-keys: |
            Python-${{ runner.os }}-${{ env.PYTHON_VERSION }}

      - name: Add version information
        run: make version-info

      - name: Install pyfluent
        run: |
          pip install packaging
          make install

      - name: Retrieve PyFluent version
        run: |
          echo "PYFLUENT_VERSION=$(python -c "from ansys.fluent.core import __version__; print(); print(__version__)" | tail -1)" >> $GITHUB_OUTPUT
          echo "PYFLUENT version is: $(python -c "from ansys.fluent.core import __version__; print(); print(__version__)" | tail -1)"
        id: version

      - name: Login to GitHub Container Registry
        uses: docker/login-action@c94ce9fb468520275223c153574b00df6fe4bcc9 # v3.7.0
        with:
          registry: ghcr.io
          username: ansys-bot
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Pull Fluent docker image
        env:
          FLUENT_IMAGE_TAG: ${{ matrix.image-tag }}
        run: |
          make docker-pull
          docker images

      - name: Transport docker image to podman
        env:
          IMAGE_TAG: ${{ matrix.image-tag }}
        run: |
          sudo podman pull docker-daemon:ghcr.io/ansys/fluent:${IMAGE_TAG}
          sudo podman images

      - name: Run API codegen
        run: make api-codegen
        env:
          FLUENT_IMAGE_TAG: ${{ matrix.image-tag }}

      - name: Print Fluent version info
        env:
          VERSION: ${{ matrix.version }}
        run: |
          cat src/ansys/fluent/core/generated/fluent_version_${VERSION}.py

      - name: Install again after codegen
        run: |
          rm -rf dist
          make install > /dev/null

      - name: Run Fluent test script
        id: fluent_test
        run: |
          python tests/podman_compose.py
        continue-on-error: true
        env:
          FLUENT_IMAGE_TAG: ${{ matrix.image-tag }}
          PYFLUENT_CONTAINER_INSECURE_MODE: 1

      - name: Cleanup previous containers
        if: always()
        run: |
          docker system prune -af
          sudo podman system prune -af

      - name: Send GitHub Actions Run Status Adaptive Card to Teams via Power Automate
        if: github.event_name == 'schedule' && steps.fluent_test.outcome != 'success'
        run: | # zizmor: ignore[template-injection]
          STATUS="Failure"
          RUN_URL="https://github.com/${{ github.repository }}/actions/runs/${{ github.run_id }}"
          COMMIT_URL="https://github.com/${{ github.repository }}/commit/${{ github.sha }}"

          JSON_PAYLOAD=$(jq -n \
            --arg status "$STATUS" \
            --arg branch "${{ github.ref_name }}" \
            --arg commit "${{ github.sha }}" \
            --arg commit_url "$COMMIT_URL" \
            --arg run_url "$RUN_URL" \
            '{
              "attachments": [
                {
                  "contentType": "application/vnd.microsoft.card.adaptive",
                  "content": {
                    "type": "AdaptiveCard",
                    "version": "1.2",
                    "body": [
                      {
                        "type": "TextBlock",
                        "weight": "Bolder",
                        "size": "Medium",
                        "text": "${{ github.workflow }}"
                      },
                      {
                        "type": "TextBlock",
                        "text": "Status: \($status)"
                      },
                      {
                        "type": "TextBlock",
                        "text": "Branch: \($branch)"
                      },
                      {
                        "type": "TextBlock",
                        "text": "Commit: \($commit)"
                      },
                      {
                        "type": "TextBlock",
                        "text": "[View Commit](\($commit_url))"
                      },
                      {
                        "type": "TextBlock",
                        "text": "[View Run](\($run_url))"
                      }
                    ]
                  }
                }
              ]
            }'
          )

          echo "Sending notification to Power Automate..."
          curl -X POST -H "Content-Type: application/json" -d "$JSON_PAYLOAD" "${{ secrets.PYFLUENT_WEBHOOK_URL }}"

      - name: Check test run status and fail the whole job if tests failed
        if: steps.fluent_test.outcome != 'success'
        run: |
          echo "One or more tests failed. Failing the job."
          exit 1
